.sto_format{
    overflow: hidden;
    border: 3px solid #d8d8d8;
    position: relative;
  }
.sto_border{
    width: 100%;
    height: 100%;
    border: 3px solid #d8d8d8;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.sto_sponsor{
    position: absolute;
    text-align: center;
    width: 100px;
    height: 20px;
    line-height: 1.9;
    left: 0;
    left: -3px;
    bottom: 0;
    background-color: #d8d8d8;
    font-size: 12px;
    color: grey;
}

.sto_format .relative.shadow {
  height: 120px;
}
